node_modules
package-lock.json

# @openapi-codegen/cli
codegen-build
openapi-codegen-2025-02-12

# openapi-to-zod
openapi-to-zod-3.1
openapi-to-zod

# openapi-to-joi
openapi-to-joi
openapi-to-joi-3.1

# openapi-typescript
openapi-typescript
openapi-typescript-3.1

# client-axios-typegen
typegen

# ts-to-zod
ts-to-zod

# typeconv
typeconv
typeconv-3.1

# openapi2jsonschema
openapi2jsonschema

# openapi-schema-to-json-schema
openapi-schema-to-json-schema

# openapi-ts-json-schema
openapi-ts-json-schema

# openapi-ts
openapi-ts

oadr3.ts
zod

